@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/exo-2-v20-cyrillic_latin-100.woff2') format('woff2'),
       url('../fonts/exo-2-v20-cyrillic_latin-100.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v20-cyrillic_latin-regular.woff2') format('woff2'),
       url('../fonts/exo-2-v20-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/exo-2-v20-cyrillic_latin-700.woff2') format('woff2'),
       url('../fonts/exo-2-v20-cyrillic_latin-700.woff') format('woff');
}



/* roboto-condensed-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-condensed-v16-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('../fonts/roboto-condensed-v16-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-300.svg#RobotoCondensed') format('svg');
}
/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v16-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../fonts/roboto-condensed-v16-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-v16-latin_cyrillic-regular.svg#RobotoCondensed') format('svg');
}


/*========================================================
					  Main Styles
=========================================================*/
html {
  font: 400 18px/1.33333 "Roboto Condensed", sans-serif;
}
@media (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #E4C49F;
  font: inherit;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 7.22222rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 58px;
  }
}

h2 {
  font-size: 2.77778rem;
  line-height: 1;
}
@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

p {
  font-weight: 300;
  color: #a29b97;
}

p a:hover {
  text-decoration: underline;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:active {
  background-color: transparent;
}

strong {
  font-weight: 700;
}

.page {
  overflow: hidden;
  min-height: 500px;
}

.border-left {
  border-left: 2px solid #5E4841;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.border-left-inv {
    border-left: 2px solid #E4C49F;
}

/*=======================================================
						Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  margin-bottom: 82px;
}
.brand_name {
  overflow: hidden;
}
.brand_slogan {
  display: inline-block;
  padding: 0 56px;
  color: #f2f2f2;
  background: #5E4841;
  font-size: 30px;
  font-weight: 300;
  line-height: 60px;
}
@media (max-width: 767px) {
  .brand_slogan {
    font-size: 24px;
    line-height: 48px;
    padding: 0 10px;
  }
}

/*==================      Nav     ======================*/
.nav {
  margin-left: -2px;
  margin-right: -2px;
}
.nav:before, .nav:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav:after {
  clear: both;
}
.nav li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  padding-left: 2px;
  padding-right: 2px;
}
.nav li a {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 130%;
}
@media (max-width: 1199px) {
  .nav li {
    width: 50%;
  }
  .nav li a {
    padding-bottom: 46%;
    background: rgba(94, 72, 65, 0.85);
  }
  .nav li a .hover {
    display: none;
  }
  .nav li a:hover {
    background: #5E4841;
    box-shadow: inset 0 -4px 0 #E47C56;
  }
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.hover {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
  opacity: .45;
}
.hover canvas {
  cursor: pointer;
}

.menu-item {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  padding-left: 24%;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: left;
  z-index: 999;
  pointer-events: none;
}
.menu-item span {
  display: block;
  margin-left: -28px;
  margin-bottom: -8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}
.menu-item small {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  text-transform: lowercase;
}
@media (min-width: 1600px) {
  .menu-item {
    padding-left: 28%;
    font-size: 40px;
  }
  .menu-item span {
    font-size: 20px;
  }
  .menu-item small {
    font-size: 24px;
  }
}

/*==================  Inline List  ======================*/
.inline-list li {
  display: inline-block;
}
.inline-list li + li {
  margin-left: 8px;
}

/*==================     Links     ======================*/
.links li {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  color: #a29b97;
}
.links li + li:before {
  content: "|";
  font-weight: 100;
  margin-left: 7px;
  margin-right: 17px;
}
@media (max-width: 479px) {
  .links li {
    display: block;
  }
  .links li + li {
    margin-top: 10px;
  }
  .links li + li:before {
    display: none;
  }
}

/*==================  Stuck menu  ======================*/
.stuck_container:before, .stuck_container:after {
  display: table;
  content: "";
  line-height: 0;
}
.stuck_container:after {
  clear: both;
}

/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  transition: .3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
}
.rd-mobilemenu_ul a {
  width: 100%;
  padding-bottom: 0;
  text-align: center;
}
.rd-mobilemenu_ul .menu-item {
  position: static;
  font-size: 14px;
  line-height: 2;
  padding-left: 0;
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  transition: all .3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  transition: all .3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*========================================================
					 HEADER  Section
=========================================================*/
header {
  padding-top: 70px;
  border-top: 12px solid #5E4841;
  background: url(../images/header-bg-v1.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}

/*========================================================
					 FOOTER  Styles
=========================================================*/
footer .copyright {
  font-weight: 300;
}
footer .copyright a:hover {
  color: #5E4841;
}