<!DOCTYPE html>
<html lang="{{ site.lang | default: " ru-RU" }}">

<head>
  <meta charset="utf-8" />
  <meta name="format-detection" content="telephone=no" />

  <meta name="language" content="russian" />
  <meta http-equiv="content-type" content="text/html" />
  <meta name="author" content="Dark Crimson" />
  <meta name="designer" content="Dark Crimson" />
  <meta name="publisher" content="Dark Crimson" />
  <meta name="robots" content="index,follow" />

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png" />
  <link rel="manifest" href="/assets/images/favicons/site.webmanifest" />
  <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#a79c74" />
  <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" />

  <meta name="msapplication-TileColor" content="#a79c74" />
  <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml" />
  <meta name="theme-color" content="#a79c74" />

  <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}" />

  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/jquery-migrate-1.2.1.js"></script>
  <link rel="alternate" type="application/rss+xml" title="Блог.RSS" href="/feed.xml" />
  <!--[if lt IE 9]>
        <html class="lt-ie9">
          <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="/assets/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a></div>
        </html>
        <script src="/assets/js/html5shiv.js"></script>
  <![endif]-->

  {% seo %}
</head>

<body>
  <div class="page">
    <!--
      ========================================================
                                                        CONTENT
      ========================================================
      -->
    {{ content }}
    <footer>
      <section class="well-1">
        <div class="container">
          <div class="copyright">DCRM © 2005 - <span id="copyright-year"></span> All Rights Reserved</div>
        </div>
      </section>
    </footer>
  </div>
  <script src="{{ '/assets/js/script.js?v=' | append: site.github.build_revision | relative_url }}"></script>

</html>